.container{
    max-width: 1300px;
    margin: 0 auto;
}

.f_card{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.add{
   margin: 0 auto;
}

.add span{
    color: rgb(137, 137, 137);
    margin: 5px;
}

.add button{
    background-color: #284F9A;
    color: white;
    padding: 5px 13px;
    border-radius: 5px;
}