
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:80px;
    color: #284F9A;
    box-shadow: 0px 0px 5px 0px rgba(141,  141,  141, 0.69);
  }

  .nav_logo{
    cursor: pointer;
  }
  .nav_logo img{
    width: 70px;
    height: 70px;
    margin-right: 40px;
  }

  .nav_title{
    width:600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 20px;
  }

  .nav_text{
    transition: 1s;
    font-size: 18px;
  }
  .nav_text:hover{
    color: #A4A6AF;
    transition: 0.3s;
  }

  .button__text{
    color: white;
  }

  .button{
    padding: 10px 15px;
    background-color:  #2D56A5;
    animation: pulse1 2s infinite, pulse2 2s infinite 1s, pulse3 2s infinite 2s;
    cursor: pointer;
  }

  .button:hover{
    background-color: #0D7AE2;
  }

  
  @keyframes pulse1 {
    0% {
      box-shadow: none;
    }
    50% {
      box-shadow: -7px 0px 0px #0d7be2b6, 7px 0px 0px #0d7be2b6, 0 0 10px rgba(193, 244, 246, 0.698);
    }
    100% {
      box-shadow: none;
    }
  }
  

