@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.service_text{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
}

@media (max-width: 1025px) {

    .service_text{
        font-size: 15px;
    }

    .wrap_card{
        display: flex;
        justify-content: center;
    }
}