@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.service_text{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
}

.form_service{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form_service button{
    width: 150px;
}



@media (max-width: 1025px) {

    .service_text{
        font-size: 15px;
    }

    .wrap_card{
        display: flex;
        justify-content: center;
    }
}